@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0 ;
  padding: 0 ;
  
}
body,html{
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: black !important;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  
}
a{
  text-decoration: none !important;
}
::-webkit-scrollbar{
  display: none;
}

.containr{
  display: flex;
  height: 100%;
  flex: 1;
  overflow: hidden; 
  padding: 10px;
  
}
.aside{
  flex: 0.25;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-right: 0.5rem;
  /* box-sizing: border-box; */
}
main{
  flex: 0.75;
  background: linear-gradient(180deg, #222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0.00) 100%);
  overflow-y: scroll;
  margin-bottom: 100px;
  padding-inline:30px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFF;
}
.navbar{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: black;
  overflow-y: auto;
  flex: 1;
  padding: 0 !important;
}
.spotify-logo>img{
  width: 90px;
}


.nav1-div, .your-library{
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  border-radius: 10px;
  background-color: #121212;
  gap: 1em;
  margin-bottom: 0.5em;
}
.your-library{
  height: 100vh;
}
.nav-text{
  color: #FFF;
  font-size: 14px;

  font-weight: 900;
  line-height: 16px; /* 114.286% */
}
.nav-text-lite , .foot-section1 p{
  color: #ffffffbe;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.nav-text-lite:hover{
  color: #FFF;
}
a{
  color: white;
  text-decoration: none;
}
.gray-color{
  color: #B3B3B3;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.gray-color:hover{
color:white;
}
.betweengap{
  display: flex;
  gap: 2em;
  align-items: center;
}

.library{
  height: 100px;
  z-index: 1;
}
.createdlist {
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
}


footer{
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #1ED760;
}



.box{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  flex-shrink: 0;
}
.liked-songs-icon{
  background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
}
.favourites-icon{
  background-color: #004638;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 10px; /*need to check */
  
}
.list>li{
  list-style: none;
}

.top-section{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
.directions{
  display: flex;
  gap: 1em;
}
.direction-box{
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login{
  background-color: black;
  border-radius: 20px;
  color: white;
  border: none;
  display: flex;
  width: 140px;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.login>p{
  margin:0 !important;
}

.main-list{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
h2{
  margin: 20px 0px;
}
.main-box{
  width: 325px;
  height: 100px;
  display: flex;
  margin: 10px 25px 10px 0px;
  align-items: center;
  border-radius: 4px;
  background: #303030;
  overflow: hidden;
  gap: 20px;
}
.linear-heartbox{
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
}
.main-section{
  margin-top: 30px;
}

.playlists{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap:20px;
}
.playlist-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-head>p{
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
}
.playlist-item{
  width: 250px;
  height: 285px;
  flex-shrink: 0;
  background-color: #181818;
  display: flex;
  justify-content: center;
  
}
.playlist-item>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playlist-item>img{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.foot-player{
  display: flex;
  color:white;
  background: #181818;
  width: 100%;
  justify-content: space-between;
}
.foot-section1,.foot-section3,.foots2-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-inline: 30px;
}

.foot-section2{
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: center;
}
.foots2-playtimeline{
  display: flex;
}
.timeline-bar{
  width: 40vw;
  margin: 0px 10px;
}
.timeline-bar,.volume-bar{
  -webkit-appearance: none;
  background-color: transparent;
}
.timeline-bar::-webkit-slider-runnable-track ,.volume-bar::-webkit-slider-runnable-track{
  height: 4px;
  background: #b3b3b3;
  border: none;
  border-radius: 100px;
}
.timeline-bar::-webkit-slider-thumb, .volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  margin-top: -6px;
}
.volume-bar{
  width: 100px;
}
.devicetype{
  height:100%;
  position: relative;
  display: flex;
}
.devicetype-uparrow{
  position: absolute;
  bottom: 0px;
}
.foot-devicename{
  display: flex;
  justify-content: right;
  margin-right: 6em;
  gap: 0.5em;
  color: black;
  font-weight: 700;
}
.playlist-btn a{
  color:  rgb(64, 179, 7) !important;
  font-size: 14px;
  font-weight: 700;
}
.playlist-hero{
  display: flex;
  height: 300px;
  align-items: center;
  justify-content:start;
  box-sizing: border-box;
}
.playlist-table{
  width: 100%;
}
.playlist-table>tr{

}